{% extends 'base.html' %}
{% block title %}Just an Entry{% endblock %}
{% block content %}
  <h2>{{ record.student_id }}</h2>
  <table class="table table-bordered">
  <thead>
  <tr><th>Time Out</th><th>Time In</th></tr>
  </thead>
  <tbody>
  <tr><td>{{ record.time_out | relativedate }}</td><td>{{ record.time_in | relativedate }}</td></tr>
  </tbody>
  </table>
  {% if allow_flip %}
    <form action="flip" method="post" class="pull-left">
      <button class="btn btn-default btn-large" type="submit">
        Change to Check {% if record.time_in %}Out{% else %}In{% endif %}
      </button>
    </form>
  {% endif %}
  <a class="btn btn-default btn-large pull-right" href="/">Go Home</a>
{% endblock %}
