{% extends 'base.html' %}
{% block title %}Just an Entry{% endblock %}
{% block content %}
  <h2>{{ record.student_id }}</h2>
  <table class="table table-bordered">
  <tbody>
  <tr>
    <th>Time Out</th>
    <td>{{ record.time_out | relativedate }}</td>
  </tr>
  <tr>
    <th>Time In</th>
    <td>{{ record.time_in | relativedate }}</td>
  </tr>
  <tr>
    <th>Time Gone</th>
    <td>{{ record.time_gone }}</td><!--TODO: Format correctly-->
  </tr>
  </tbody>
  </table>
  {% if allow_flip %}
    <form action="flip" method="post" class="pull-left">
      <button class="btn btn-default btn-large" type="submit">
        Change to Check {% if record.time_in %}Out{% else %}In{% endif %}
      </button>
    </form>
  {% endif %}
  <a class="btn btn-default btn-large pull-right" href="/">Go Home</a>
{% endblock %}
