<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Logs</title>
</head>
<body>
<h1>Barcode Checkout</h1>
<h2><a href="zxing://scan/?ret={{ scan_return_url }}">Scan Barcode</a></h2>
<em>(Requires "Barcode Scanner" app on Android)</em>
<form action="scan" style="padding-top: 30px">
  <label>or Manual Entry
    <input type="text" name="barcode">
  </label>
</form>
<h2>Last 20 Log Entries</h2>
<table>
  <thead>
  <tr><th>Student ID</th><th>Out</th><th>In</th></tr>
  </thead>
  <tbody>
  {% for entry in entries %}
    <tr>
    <td><a href="entry/{{ entry.key.id() }}">{{ entry.student_id }}</a></td>
    <td>{{ entry.time_out | relativedate }}</td><!--TODO: Do the formatting in a filter and support stuff like "2 min ago"-->
    <td>{{ entry.time_in | relativedate }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>
